:root {
  --primary-color: #d92cf9;
  --secondary-color: #6f6f6f;
}
/* Media Query Max-width:1024 */
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
  .nav-items li a {
    font-size: 0.9rem;
  }
}
/* ------------------------- */
/* Media Query Max-width:992 */
@media (max-width: 992px) {
  .container {
    max-width: 80%;
  }
  header {
    padding: 20px 0;
    background: #fff;
    z-index: 1;
  }
  .nav-items {
    flex-direction: column;
    background: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    padding: 20px 0 20px 70px;
    gap: 2rem;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  .nav-items-active {
    top: 80px;
  }
  .nav-items li a {
    font-size: 1.1rem;
  }
  .hamburger {
    display: block;
    font-size: 1.1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
  }
}
/* ------------------------ */
/* Media Query Max-width:767 */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .nav-items {
    padding-left: 30px;
  }
}
/* ------------------------- */
